---
---

$link-color: #59c77f;

.wf-loading {
  opacity: 0;
}

.wf-active, .wf-inactive {
  opacity: 1;
  transition: opacity .15s linear;
}

body {
  font-size: 150%;
  margin: 0 auto;
  font-family: "athelas", Georgia, serif;
  line-height: 1.75;
  padding: 30px;
  max-width: 840px;
}

h1, h2, p, ul {
  font-weight: 100;
}

a {
  color: $link-color;
  text-decoration: none;
}

blockquote {
  border-left: solid 2px lighten(#000, 75);
  color: lighten(#000, 50);
  font-size: 80%;
  padding-left: 25px;
  margin-left: 5px;
}

a:hover {
  color: lighten($link-color, 15);
}

.emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
  font-weight: normal;
}

.post-title {
  margin: 0;
}

.top-nav {
  font-size: 25px;
  position: relative;
  margin-bottom: 30px;

  a {
    color: #999;

    &:hover {
      color: #aaa;
    }
  }
}

.note {
  font-size: 75%;
  color: #999;
}

@media (min-width: 760px) {
  body {
    font-size: 200%;
    padding: 60px;
  }

  blockquote {
    margin-left: 25px;
  }
}

@media (min-width: 960px) {
  body {
    font-size: 225%;
  }
}


/*************************************/
/* Home                              */
/*************************************/
.status {
  color: #999;
}

/*************************************/
/* Post                              */
/*************************************/
.post-meta {
  display: none;
}
