@font-face {
  font-family: 'social';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMggi/LcAAAC8AAAAYGNtYXAaVcxYAAABHAAAAExnYXNwAAAAEAAAAWgAAAAIZ2x5Ziv8ynMAAAFwAAACnGhlYWQBMFpBAAAEDAAAADZoaGVhA+IB5wAABEQAAAAkaG10eAUAAAAAAARoAAAAGGxvY2EBdgDCAAAEgAAAAA5tYXhwAAsAbwAABJAAAAAgbmFtZeS0jjoAAASwAAABPHBvc3QAAwAAAAAF7AAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmAQHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEADgAAAAKAAgAAgACAAEAIOYB//3//wAAAAAAIOYA//3//wAB/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAABAAA/+ACAAHgABwAMABUAGUAAAEhIgYHDgEVERQWFx4BMyEyNjc+ATURNCYnLgEjBTMeARUUBgcOASMiJicuATU0NjchFRQGBw4BIyEiJicuAT0BMw4BFRQWFx4BMzI2Nz4BNTQmJzM1FAYrASImPQE0NjsBMhYdAQGr/qoSHgwMDQ0MDB4SAVYSHgwMDQ0MDB4S/vm4AwIQDQ0kFBQkDQ0PAgMBHAUEBQsH/sAHCwUEBTICARYUFDUeHjUUFBYCAjIJByAHCQkHIAcJAeANDAweEv6qEh4MDA0NDAweEgFWEh4MDA3gCBAIFCQNDQ8PDQ0kFAgQCMAHCwUEBQUEBQsHwAgQCB41FBQWFhQUNR4IEAhwBwkJByAHCQkHIAAAAQAAABACAAGwAGwAAAEOAQcOAQc+ATc+ATcOAQcOAQcuAScuASMiBgcOARUUFhcuAScuAScOAQcOARUUFhceARciJicuAScUMBUUFhceARcOASMiJiceARceATMOAQcOASMqASceARceATMyNjc+ATU8ATU+ATc+ATcCAAcPBwgPCAgOBgYJAwgQCAgSCQcRCgoVDBUnDg4RAgEhPRscMBMEBQICAgcGBhIKBg0GBgsFDAwLHxIHDgcFCgUFEw0NHxIOHhEQIxMGDQYRJhUUKxZIcCYmJwcPBgcMBQF/AwYCAgMBBQ0HBxEJBAgDAwUCCAwEBAUQDw4mFgYMBgIRDg4nGAYNBgcOBw4ZCwwSBwIBAgUDAQETIg4NEwQBAgEBEBsJCgsLEQUGBgELEgYGBjYrK2s0AwcDBgwHBw8IAAABAAAAAQAAwLURAV8PPPUACwIAAAAAANAIjMIAAAAA0AiMwgAA/+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AAAAIAAAAAAAIAAAEAAAAAAAAAAAAAAAAAAAAGAAAAAAAAAAAAAAAAAQAAAAIAAAACAAAAAAAAAAAKABQAHgCuAU4AAAABAAAABgBtAAQAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADAAAAAEAAAAAAAIADgBAAAEAAAAAAAMADAAiAAEAAAAAAAQADABOAAEAAAAAAAUAFgAMAAEAAAAAAAYABgAuAAEAAAAAAAoANABaAAMAAQQJAAEADAAAAAMAAQQJAAIADgBAAAMAAQQJAAMADAAiAAMAAQQJAAQADABOAAMAAQQJAAUAFgAMAAMAAQQJAAYADAA0AAMAAQQJAAoANABaAHMAbwBjAGkAYQBsAFYAZQByAHMAaQBvAG4AIAAxAC4AMABzAG8AYwBpAGEAbHNvY2lhbABzAG8AYwBpAGEAbABSAGUAZwB1AGwAYQByAHMAbwBjAGkAYQBsAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format("truetype"), url(data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAAVsAAoAAAAABSQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAeoAAAHq9WCt1U9TLzIAAALgAAAAYAAAAGAIIvy3Y21hcAAAA0AAAABMAAAATBpVzFhnYXNwAAADjAAAAAgAAAAIAAAAEGhlYWQAAAOUAAAANgAAADYBMFpBaGhlYQAAA8wAAAAkAAAAJAPiAedobXR4AAAD8AAAABgAAAAYBQAAAG1heHAAAAQIAAAABgAAAAYABlAAbmFtZQAABBAAAAE8AAABPOS0jjpwb3N0AAAFTAAAACAAAAAgAAMAAAEABAQAAQEBB3NvY2lhbAABAgABADr4HAL4GwP4GAQeCgAZU/+Lix4KABlT/4uLDAeLa/iU+HQFHQAAAHkPHQAAAH4RHQAAAAkdAAAB4RIABwEBBw0PERQZHnNvY2lhbHNvY2lhbHUwdTF1MjB1RTYwMHVFNjAxAAACAYkABAAGAgABAAQABwAKAA0AyQFT/JQO/JQO/JQO+5QO+D/4dBX76osFXItlZYtcCIv76gWLXLFluosI9+qLBbqLsbGLugiL9+oFi7plsVyLCPub+3QV90yLBY+BjYCLgItVX2BVi1WLYLaLwYuWjJaPlQj3sIsVi/tUBYt5fX15iwj71IsFeYt9mYudCIv3VL2LBYmBioCLgIs7zErbi9uLzcyL24uWiZaJlQi9iwWL9wQVi4KEhIKLCGuLBYKLhJKLlAiLqwWLlJKSlIsIq4sFlIuShIuCCItrBQ74lPgTFXiCd4Z2iKCYnKCTo3d/dINzhnifcJhsi1GLXFyLUYuDjIONgzSPPbVYy4J7hXmLeAiLZ55qp3l6i3uQfZOLiouLi4qLWa9gu4GCiYKKgYuEi4WLhI2ZYbJsuYtnbl17WosIg4uCi4OMuW3DesaL91WL9fc0i/cfi4+LkIuPn5qdnpmgCA74lBT4lBWLDAoAAAADAgABkAAFAAABTAFmAAAARwFMAWYAAAD1ABkAhAAAAAAAAAAAAAAAAAAAAAEQAAAAAAAAAAAAAAAAAAAAAEAAAOYBAeD/4P/gAeAAIAAAAAEAAAAAAAAAAAAAACAAAAAAAAIAAAADAAAAFAADAAEAAAAUAAQAOAAAAAoACAACAAIAAQAg5gH//f//AAAAAAAg5gD//f//AAH/4xoEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAQAAciX0cV8PPPUACwIAAAAAANAIjMIAAAAA0AiMwgAA/+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AAAAIAAAAAAAIAAAEAAAAAAAAAAAAAAAAAAAAGAAAAAAAAAAAAAAAAAQAAAAIAAAACAAAAAABQAAAGAAAAAAAOAK4AAQAAAAAAAQAMAAAAAQAAAAAAAgAOAEAAAQAAAAAAAwAMACIAAQAAAAAABAAMAE4AAQAAAAAABQAWAAwAAQAAAAAABgAGAC4AAQAAAAAACgA0AFoAAwABBAkAAQAMAAAAAwABBAkAAgAOAEAAAwABBAkAAwAMACIAAwABBAkABAAMAE4AAwABBAkABQAWAAwAAwABBAkABgAMADQAAwABBAkACgA0AFoAcwBvAGMAaQBhAGwAVgBlAHIAcwBpAG8AbgAgADEALgAwAHMAbwBjAGkAYQBsc29jaWFsAHMAbwBjAGkAYQBsAFIAZQBnAHUAbABhAHIAcwBvAGMAaQBhAGwARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 9, styles.scss */
[class^="social-"], [class*=" social-"] {
  font-family: 'social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 23, styles.scss */
.social-instagram:before {
  content: "\e600";
}

/* line 24, styles.scss */
.social-twitter:before {
  content: "\e601";
}

/* line 29, styles.scss */
body {
  font-size: 125%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 30, styles.scss */
.intro {
  height: 102px;
  position: absolute;
  top: 50%;
  margin-top: -51px;
  width: 100%;
}

/* line 31, styles.scss */
h1 {
  font-family: "Lora", serif;
  margin-top: 0;
}

/* line 32, styles.scss */
a {
  text-decoration: none;
  color: gray;
}
/* line 33, styles.scss */
a:hover {
  color: black;
}
