* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { font-size: 125%; font-family: "jubilat", sans-serif; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0; padding: 0; }
ul { list-style: none; margin: 0; padding: 0; }
p { margin: 0; padding: 0; font-family: "futura-pt", sans-serif;  }

.nav { font-family: "futura-pt", sans-serif; }

.header { background: #0996e7; padding: 2em; color: #fff; margin: 0 0 3em;
	h1 { font-size: 3.25em; }
	.tagline { font-size: 1.125em; color: #eee; }
}
.section { margin-bottom: 3em; padding: 0 2em;
	h2 { font-size: 2em; }
	ul { margin-top: 1em; }
	p { color: #999; }
	a { color: #ff4e00; text-decoration: none; 
		&:hover { text-decoration: underline; }
	}
}