---
layout: default
class: home
---

<div class="home">
  <section class="header-area">
    <h1 class="post-title">Dan Gold.</h1>
  </section>

  <article class="about">
    <p>I am a Front End Engineer at <a href="http://www.charitywater.org/" target="_blank">charity: water</a> and traveling with <a href="/thoughts/remote-year">Remote Year</a>. I am currently Mexico City, Mexico. I wear glasses, sometimes. Please send taco advice.</p>
    <p>Sorry, I'm not sorry about the <a href="https://twitter.com/notdadjokes" target="_blank">dad jokes</a> and&nbsp;<a href="https://www.dropbox.com/sh/dl8wjoxagvz5c1t/AACgE3AhnUSL0gIY-ARlUeywa?dl=0" target="_blank">gifs</a>.</p>
  </article>

  <section class="self-promotion">
    <a class="home-thing" href="https://twitter.com/danielcgold">
      <div class="svg-wrap">{% include svg/twitter.svg %}</div>
      <p>Twitter</p>
    </a>

    <a class="home-thing" href="https://danielcgold.exposure.co/">
      <div class="svg-wrap">{% include svg/camera.svg %}</div>
      <p>Photos</p>
    </a>

    <a class="home-thing" href="/random.html">
      <div class="svg-wrap"><span class="home-thing-emoji">🙃</span></div>
      <p>Random</p>
    </a>

    <a class="home-thing" href="http://codepen.io/danielcgold/">
      <div class="svg-wrap">{% include svg/code.svg %}</div>
      <p>Code</p>
    </a>

    <a class="home-thing" href="/thoughts">
      <div class="svg-wrap">{% include svg/book.svg %}</div>
      <p>Thoughts</p>
    </a>

    <a class="home-thing" href="https://unsplash.com/@dangold?grid=multi">
      <div class="svg-wrap">{% include svg/camera-retro.svg %}</div>
      <p>Unsplash</p>
    </a>
  </section>
</div>
