$link-color: #59c77f;
$link-color-hover: #09bed4;

* {
  box-sizing: border-box;
}

body {
  font-size: 150%;
  margin: 0 auto;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  line-height: 1.75;
  padding: 30px;
  max-width: 850px;
  color: #222;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p, ul {
  font-weight: 300;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color .25s linear;

  &:hover {
    color: $link-color-hover;
  }
}

blockquote {
  border-left: solid 2px lighten(#000, 75);
  color: lighten(#000, 50);
  font-size: 80%;
  padding-left: 25px;
  margin-left: 5px;
}

.post-title {
  margin: 0;
}

.top-nav {
  font-size: 75%;
  margin-bottom: 30px;
}

.note {
  font-size: 75%;
  color: rgba(0, 0, 0, .5);
}

.main-footer {
  display: table;
  margin-top: 100px;
  font-size: 55%;
  color: rgba(0, 0, 0, .76);
  border-top: solid 1px rgba(0, 0, 0, .15);
  padding-top: 10px;
  padding-left: 2px;
}

@media (min-width: 760px) {
  body {
    padding: 60px;
  }

  blockquote {
    margin-left: 25px;
  }
}

/*************************************/
/* Home                              */
/* Thanks http://codepen.io/akwright/pen/raBdOO! */
/*************************************/
$home-yellow: #add356;
$home-teal: #00dfa6;
$home-lorange: #ffcb52;
$home-dorange: #ff451f;
$home-blue: #3dade9;
$home-purple: #bf2fcb;

@mixin border-gradient($from, $to) {
  .svg-wrap {
    background-image: linear-gradient(to left, $from, $to), linear-gradient(to left, $from, $to);
  }

  &:hover svg path {
    fill: $to;
  }
}

.page-home {
  a:hover {
    cursor: url(/assets/images/poodle.png), auto;
  }

  background: #000;
  color: rgba(255, 255, 255, .85);
  font-size: 105%;
  position: relative;

  @media (min-width: 700px) {
    font-size: 110%;
  }

  &:after {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1484016020142-3fe1f67b09d3?ixlib=rb-0.3.5&q=60&fm=jpg&crop=entropy&cs=tinysrgb&w=960&h=1134&fit=crop&s=f6766b3c49733c48884ebfc2f3373a60);
    background-size: cover;
    background-position: center center;
    opacity: .5;

    @media (min-width: 700px) {
      background-image: url(https://images.unsplash.com/photo-1484016020142-3fe1f67b09d3?ixlib=rb-0.3.5&q=60&fm=jpg&crop=entropy&cs=tinysrgb&w=1200&h=1200&fit=crop&s=f6766b3c49733c48884ebfc2f3373a60);
    }

    @media (min-width: 1000px) {
      background-image: url(https://images.unsplash.com/photo-1484016020142-3fe1f67b09d3?ixlib=rb-0.3.5&q=60&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=f6766b3c49733c48884ebfc2f3373a60);
    }
  }

  .post-title {
    font-size: 250%;
  }

  a {
    color: rgba(255, 255, 255, .85);
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }

  .hire-me {
    text-decoration: none;
    border: solid 1px;
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;

    .emoji {
      position: relative;
      top: 3px;
    }
  }

  .main-footer {
    border-top: 0;

    p {
      color: rgba(255, 255, 255, .85);
      font-size: 125%;
    }
  }
}

/*************************************/
/* Posts                             */
/*************************************/
.post-meta {
  display: none;
}

.item-gone {
  text-decoration: line-through;
}

.packing-for-a-year h2 {
  margin-top: 60px;
}

/*************************************/
/* Portugal page                     */
/*************************************/
.portugal-in-photos {
  font-size: 125%;

  img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity .35s .35s linear;
  }

  .portugal-image-gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    background: #fff;
    transition: all .25s linear;
    height: 300px;
    overflow: hidden;
    margin-top: 60px;
    position: relative;

    &:after {
      content: 'Loading...';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .25s linear;
      font-size: 12px;
      color: rgba(0, 0, 0, .5);
    }
  }

  @media (min-width: 760px) {
    font-size: 125%;

    .portugal-image-gallery {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }

  @media (min-width: 960px) {
    font-size: 125%;
  }
}

.portugal-images-loaded {
  img {
    opacity: 1;
  }

  .portugal-image-gallery {
    background: transparent;
    height: auto;

    &:after {
      opacity: 0;
    }
  }
}

.ant-mode {
  .portugal-image-gallery {
    -moz-column-count: 8;
    -webkit-column-count: 8;
    column-count: 8;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;

    img {
      margin: 5px;
    }
  }
}

.portugal-ant-mode {
  display: none;

  @media (min-width: 960px) {
    display: block;
    position: fixed;
    bottom: 0;
    right: 10px;
    opacity: .15;
    cursor: pointer;
    transition: opacity .25s linear;

    &:hover {
      opacity: 1;
    }
  }
}

/*************************************/
/* Instagram Tool                    */
/*************************************/
.download-a-single-instagram-image-by-url {
  font-family: monospace;

  .post-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
  }

  .header-emoji {
    display: block;
    line-height: 1;
    font-size: 50px;
  }

  form {
    @media (min-width: 480px) {
      display: flex;
    }
  }

  input {
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
    width: 100%;
    box-sizing : border-box;

    @media (min-width: 480px) {
      width: auto;
      flex: 1;
      border: 1px solid;
      border-right: 0;
    }
  }

  button {
    border: 0;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    font-family: monospace;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;

    @media (min-width: 480px) {
      width: auto;
      margin-top: 0;
    }

    &:hover {
      background: #222;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin-top: 20px;
  }

  .download {
    font-size: 14px;
    color: #000;
    text-decoration: underline;
  }
}

/*************************************/
/* Timezone                          */
/*************************************/
.timezone {
  padding: 0;
  margin: 0;
  font-family: monospace;

  .post-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    font-size: 22px;

    @media (min-width: 640px) {
      top: 60px;
      font-size: 35px;
    }
  }
}

.timezone-wrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;
  color: rgba(0, 0, 0, .5);

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.timeblock {
  flex: 1;
  height: 33.33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 640px) {
    height: 100vh;
  }

  span {
    display: block;
  }

  &:nth-child(1) {
    background: #6AD3F6;
  }

  &:nth-child(2) {
    background: #f1e64e;
  }

  &:nth-child(3) {
    background: #F38332;
  }
}

.timezone-label {
  font-size: 12px;
}
