$link-color: #59c77f;
$link-color-hover: #09bed4;

html, body {
  cursor: url(/assets/images/hamburger.png), auto;
}

a:hover {
  cursor: url(/assets/images/poodle.png), auto;
}

body {
  font-size: 150%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.75;
  padding: 30px;
  max-width: 840px;
  color: #222;
  min-height: 100vh;
  background: #fafffb;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p, ul {
  font-weight: 300;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color .25s linear;

  &:hover {
    color: $link-color-hover;
  }
}

blockquote {
  border-left: solid 2px lighten(#000, 75);
  color: lighten(#000, 50);
  font-size: 80%;
  padding-left: 25px;
  margin-left: 5px;
}

.post-title {
  margin: 0;
}

.top-nav {
  font-size: 75%;
  margin-bottom: 30px;
}

.note {
  font-size: 75%;
  color: rgba(0, 0, 0, .5);
}

.main-footer {
  display: table;
  margin-top: 100px;
  font-size: 55%;
  color: rgba(0, 0, 0, .76);
  border-top: solid 1px rgba(0, 0, 0, .15);
  padding-top: 10px;
  padding-left: 2px;
  padding-right: 70px;
}

@media (min-width: 760px) {
  body {
    padding: 60px;
  }

  blockquote {
    margin-left: 25px;
  }
}

/*************************************/
/* Home                              */
/* Thanks http://codepen.io/akwright/pen/raBdOO! */
/*************************************/
$home-yellow: #add356;
$home-teal: #00dfa6;
$home-lorange: #ffcb52;
$home-dorange: #ff451f;
$home-blue: #3dade9;
$home-purple: #bf2fcb;

@mixin border-gradient($from, $to) {
  .svg-wrap {
    background-image: linear-gradient(to left, $from, $to), linear-gradient(to left, $from, $to);
  }

  &:hover svg path {
    fill: $to;
  }
}

.page-home {
  background-image: url(https://source.unsplash.com/user/dangold/960x1134);
  background-size: cover;
  color: rgba(255, 255, 255, .85);
  font-size: 125%;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  position: relative;
  background-position: center center;

  &:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .25);
    z-index: -1;
  }

  @media (min-width: 700) {
    background-image: url(https://source.unsplash.com/user/dangold/1200x1200);
  }

  @media (min-width: 1000px) {
    background-image: url(https://source.unsplash.com/user/dangold/1600x900);
  }

  .post-title {
    font-size: 250%;
  }

  a {
    color: rgba(255, 255, 255, .85);
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }

  .main-footer {
    border-top: 0;

    p {
      color: rgba(255, 255, 255, .85);
      font-size: 125%;
    }
  }
}

.self-promotion {
  margin-top: 60px;

  @media (min-width: 640px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-left: -30px;
    margin-top: 30px;
  }
}

.home-thing {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 70%;

  @media (min-width: 640px) {
    display: block;
  }

  &:nth-child(1) {
    @include border-gradient($home-blue, $home-purple);
  }

  &:nth-child(2) {
    @include border-gradient($home-purple, $home-teal);
  }

  &:nth-child(3) {
    @include border-gradient($home-teal, $home-lorange);
  }

  &:nth-child(4) {
    @include border-gradient($home-lorange, $home-yellow);
  }

  &:nth-child(5) {
    @include border-gradient($home-yellow, $home-dorange);
  }

  &:nth-child(6) {
    @include border-gradient($home-dorange, $home-purple);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    z-index: 10;

    path {
      fill: #444;
      transition: fill .15s linear;
    }
  }

  p {
    margin: 0;
  }

  @media (min-width: 480px) {

  }

  @media (min-width: 640px) {
    flex: 1;
  }
}

.svg-wrap {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  margin-right: 15px;

  @media (min-width: 640px) {
    margin: auto;
    margin-bottom: 10px;
  }

  &:before {
    content: '';
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    background: #fff;
    top: 2px;
    left: 2px;
    position: absolute;
  }
}

/*************************************/
/* Posts                             */
/*************************************/
.post-meta {
  display: none;
}

.item-gone {
  text-decoration: line-through;
}

.packing-for-a-year h2 {
  margin-top: 60px;
}

/*************************************/
/* Portugal page                     */
/*************************************/
.portugal-in-photos {
  font-size: 125%;

  img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity .35s .35s linear;
  }

  .portugal-image-gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    background: #fff;
    transition: all .25s linear;
    height: 300px;
    overflow: hidden;
    margin-top: 60px;
    position: relative;

    &:after {
      content: 'Loading...';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .25s linear;
      font-size: 12px;
      color: rgba(0, 0, 0, .5);
    }
  }

  @media (min-width: 760px) {
    font-size: 125%;

    .portugal-image-gallery {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }

  @media (min-width: 960px) {
    font-size: 125%;
  }
}

.portugal-images-loaded {
  img {
    opacity: 1;
  }

  .portugal-image-gallery {
    background: transparent;
    height: auto;

    &:after {
      opacity: 0;
    }
  }
}

.ant-mode {
  .portugal-image-gallery {
    -moz-column-count: 8;
    -webkit-column-count: 8;
    column-count: 8;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;

    img {
      margin: 5px;
    }
  }
}

.portugal-ant-mode {
  display: none;

  @media (min-width: 960px) {
    display: block;
    position: fixed;
    bottom: 0;
    right: 10px;
    opacity: .15;
    cursor: pointer;
    transition: opacity .25s linear;

    &:hover {
      opacity: 1;
    }
  }
}
