<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}">
	<meta name="viewport" content="width=device-width">
	
	<script type="text/javascript" src="//use.typekit.net/qld6cjx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<link href="/css/style.css" rel="stylesheet">

</head>
<body>
	
	<div class="header">
		<h1>Dan Gold</h1>
		<p class="tagline">Website maker. Picture taker. Beer drinker. Located in NYC, USA.</p>
	</div>
	
	{{ content }}
	
	<div class="footer">
		<ul>
			<li><a class="icon_facebook" href="https://www.facebook.com/danielcgold" target="_blank"><span class="site">Facebook</span></a></li>
			<li><a class="icon_twitter" href="https://twitter.com/danielcgold" target="_blank"><span class="site">Twitter</span></a></li>
			<li><a class="icon_flickr" href="http://www.flickr.com/photos/danielcgold/" target="_blank"><span class="site">Flickr</span></a></li>
			<li><a class="icon_instagram" href="http://instagram.com/danielcgold" target="_blank"><span class="site">Instagram</span></a></li>
			<li><a class="icon_linkedin" href="http://www.linkedin.com/in/danielcgold" target="_blank"><span class="site">Linkedin</span></a></li>
			<li><a class="icon_lastfm" href="http://www.last.fm/user/danielcgold" target="_blank"><span class="site">Last.fm</span></a></li>
			<li><a class="icon_dribbble" href="http://dribbble.com/danielcgold" target="_blank"><span class="site">Dribbble</span></a></li>
			<li><a class="icon_foursquare" href="https://foursquare.com/danielcgold" target="_blank"><span class="site">Foursquare</span></a></li>
			<li><a class="icon_github" href="https://github.com/danielcgold/" target="_blank"><span class="site">Github</span></a></li>
		</ul>
	</div>
	
</body>
</html>